/** @format */

.field {
	margin: 20px 0px;
	& .ant-input {
		height: 40px;
	}
	&__label {
		margin-bottom: 5px;
	}
	& .ant-select.ant-select-enabled {
		width: 100% !important;
		& .ant-select-selection {
			height: 40px;
			& .ant-select-selection__rendered {
				line-height: 40px;
			}
		}
	}
}
